
<input type="text" name="title" style="display: none" value="{{cv.title}}" />
<input type="text" name="cv_current_job" style="display: none" value="{{cv.cv_current_job}}" />
<input type="text" name="description" style="display: none" value="{{cv.description}}" />
<input type="text" name="cv_avatar" style="display: none" value="{{cv.cv_avatar}}" />
<input type="text" name="cv_contact_info" style="display: none" value="{{cv.cv_contact_info}}" />
<input type="text" name="cv_contact_info_phone" style="display: none" value="{{cv.cv_contact_info_phone}}" />
<input type="text" name="cv_contact_info_gender" style="display: none" value="{{cv.cv_contact_info_gender}}" />
<input type="text" name="cv_contact_info_gmail" style="display: none" value="{{cv.cv_contact_info_gmail}}" />
<input type="text" name="cv_contact_info_website" style="display: none" value="{{cv.cv_contact_info_website}}" />
<input type="text" name="cv_contact_info_facebook" style="display: none" value="{{cv.cv_contact_info_facebook}}" />
<input type="text" name="cv_contact_info_home" style="display: none" value="{{cv.cv_contact_info_home}}" />
<input type="checkbox" id="labelispublished" name="is_published" />
<label for="labelispublished">Do you want to find job with this CV?</label><br>
<br>

<input type='text' name='cv_education' style="display: none" value='{{cv.cv_education}}' />
<input type='text' name='cv_count_education' style="display: none" value='{{cv.cv_count_education}}' />
<input type='text' name='cv_degree1' style="display: none" value='{{cv.cv_degree1}}' />
<input type='text' name='cv_graduation_time1' style="display: none" value='{{cv.cv_graduation_time1}}' />
<input type='text' name='cv_graduation_school1' style="display: none" value='{{cv.cv_graduation_school1}}' />
<input type='text' name='cv_degree2' style="display: none" value='{{cv.cv_degree2}}' />
<input type='text' name='cv_graduation_time2' style="display: none" value='{{cv.cv_graduation_time2}}' />
<input type='text' name='cv_graduation_school2' style="display: none" value='{{cv.cv_graduation_school2}}' />
<input type='text' name='cv_degree3' style="display: none" value='{{cv.cv_degree3}}' />
<input type='text' name='cv_graduation_time3' style="display: none" value='{{cv.cv_graduation_time3}}' />
<input type='text' name='cv_graduation_school3' style="display: none" value='{{cv.cv_graduation_school3}}' />

<input type='text' name='cv_lang' style="display: none" value='{{cv.cv_lang}}' />
<input type='text' name='cv_count_lang' style="display: none" value='{{cv.cv_count_lang}}' />

<input type='text' name='cv_lang1' style="display: none" value='{{cv.cv_lang1}}' />
<input type='text' name='cv_lang1_expert' style="display: none" value='{{cv.cv_lang1_expert}}' />
<input type='text' name='cv_lang2' style="display: none" value='{{cv.cv_lang2}}' />
<input type='text' name='cv_lang2_expert' style="display: none" value='{{cv.cv_lang2_expert}}' />
<input type='text' name='cv_lang3' style="display: none" value='{{cv.cv_lang3}}' />
<input type='text' name='cv_lang3_expert' style="display: none" value='{{cv.cv_lang3_expert}}' />
<input type='text' name='cv_lang4' style="display: none" value='{{cv.cv_lang4}}' />
<input type='text' name='cv_lang4_expert' style="display: none" value='{{cv.cv_lang4_expert}}' />
<input type='text' name='cv_lang5' style="display: none" value='{{cv.cv_lang5}}' />
<input type='text' name='cv_lang5_expert' style="display: none" value='{{cv.cv_lang5_expert}}' />

<input type='text' name='cv_profile' style="display: none" value='{{cv.cv_profile}}' />

<input type='text' name='cv_experience' style="display: none" value='{{cv.cv_experience}}' />
<input type='text' name='cv_count_experience' style="display: none" value='{{cv.cv_count_experience}}' />

<input type='text' name='cv_company_role1' style="display: none" value='{{cv.cv_company_role1}}' />
<input type='text' name='cv_job_description1' style="display: none" value='{{cv.cv_job_description1}}' />
<input type='text' name='cv_company_name1' style="display: none" value='{{cv.cv_company_name1}}' />
<input type='text' name='cv_working_time1' style="display: none" value='{{cv.cv_working_time1}}' />
<input type='text' name='cv_company_role2' style="display: none" value='{{cv.cv_company_role2}}' />
<input type='text' name='cv_job_description2' style="display: none" value='{{cv.cv_job_description2}}' />
<input type='text' name='cv_company_name2' style="display: none" value='{{cv.cv_company_name2}}' />
<input type='text' name='cv_working_time2' style="display: none" value='{{cv.cv_working_time2}}' />
<input type='text' name='cv_company_role3' style="display: none" value='{{cv.cv_company_role3}}' />
<input type='text' name='cv_job_description3' style="display: none" value='{{cv.cv_job_description3}}' />
<input type='text' name='cv_company_name3' style="display: none" value='{{cv.cv_company_name3}}' />
<input type='text' name='cv_working_time3' style="display: none" value='{{cv.cv_working_time3}}' />
<input type='text' name='cv_company_role4' style="display: none" value='{{cv.cv_company_role4}}' />
<input type='text' name='cv_job_description4' style="display: none" value='{{cv.cv_job_description4}}' />
<input type='text' name='cv_company_name4' style="display: none" value='{{cv.cv_company_name4}}' />
<input type='text' name='cv_working_time4' style="display: none" value='{{cv.cv_working_time4}}' />
<input type='text' name='cv_company_role5' style="display: none" value='{{cv.cv_company_role5}}' />
<input type='text' name='cv_job_description5' style="display: none" value='{{cv.cv_job_description5}}' />
<input type='text' name='cv_company_name5' style="display: none" value='{{cv.cv_company_name5}}' />
<input type='text' name='cv_working_time5' style="display: none" value='{{cv.cv_working_time5}}' />

<input type='text' name='cv_skill' style="display: none" value='{{cv.cv_skill}}' />
<input type='text' name='cv_count_skill' style="display: none" value='{{cv.cv_count_skill}}' />
<input type='text' name='cv_skill1' style="display: none" value='{{cv.cv_skill1}}' />
<input type='text' name='cv_skill1_expert' style="display: none" value='{{cv.cv_skill1_expert}}' />
<input type='text' name='cv_skill2' style="display: none" value='{{cv.cv_skill2}}' />
<input type='text' name='cv_skill2_expert' style="display: none" value='{{cv.cv_skill2_expert}}' />
<input type='text' name='cv_skill3' style="display: none" value='{{cv.cv_skill3}}' />
<input type='text' name='cv_skill3_expert' style="display: none" value='{{cv.cv_skill3_expert}}' />
<input type='text' name='cv_skill4' style="display: none" value='{{cv.cv_skill4}}' />
<input type='text' name='cv_skill4_expert' style="display: none" value='{{cv.cv_skill4_expert}}' />
<input type='text' name='cv_skill5' style="display: none" value='{{cv.cv_skill5}}' />
<input type='text' name='cv_skill5_expert' style="display: none" value='{{cv.cv_skill5_expert}}' />
<input type='text' name='cv_skill6' style="display: none" value='{{cv.cv_skill6}}' />
<input type='text' name='cv_skill6_expert' style="display: none" value='{{cv.cv_skill6_expert}}' />
<input type='text' name='cv_skill7' style="display: none" value='{{cv.cv_skill7}}' />
<input type='text' name='cv_skill7_expert' style="display: none" value='{{cv.cv_skill7_expert}}' />
<input type='text' name='cv_skill8' style="display: none" value='{{cv.cv_skill8}}' />
<input type='text' name='cv_skill8_expert' style="display: none" value='{{cv.cv_skill8_expert}}' />
<input type='text' name='cv_skill9' style="display: none" value='{{cv.cv_skill9}}' />
<input type='text' name='cv_skill9_expert' style="display: none" value='{{cv.cv_skill9_expert}}' />
<input type='text' name='cv_skill10' style="display: none" value='{{cv.cv_skill10}}' />
<input type='text' name='cv_skill10_expert' style="display: none" value='{{cv.cv_skill10_expert}}' />

<input type='text' name='cv_interest' style="display: none" value='{{cv.cv_interest}}' />
<input type='text' name='cv_count_interest' style="display: none" value='{{cv.cv_count_interest}}' />
<input type='text' name='cv_interest1' style="display: none" value='{{cv.cv_interest1}}' />
<input type='text' name='cv_interest2' style="display: none" value='{{cv.cv_interest2}}' />
<input type='text' name='cv_interest3' style="display: none" value='{{cv.cv_interest3}}' />
<input type='text' name='cv_interest4' style="display: none" value='{{cv.cv_interest4}}' />
<input type='text' name='cv_interest5' style="display: none" value='{{cv.cv_interest5}}' />
<input type='text' name='cv_interest6' style="display: none" value='{{cv.cv_interest6}}' />
<input type='text' name='cv_interest7' style="display: none" value='{{cv.cv_interest7}}' />
<input type='text' name='cv_interest8' style="display: none" value='{{cv.cv_interest8}}' />
<input type='text' name='cv_interest9' style="display: none" value='{{cv.cv_interest9}}' />
<input type='text' name='cv_interest10' style="display: none" value='{{cv.cv_interest10}}' />

<input type='text' name='cv_cer' style="display: none" value='{{cv.cv_cer}}' />
<input type='text' name='cv_count_cer' style="display: none" value='{{cv.cv_count_cer}}' />
<input type='text' name='cv_cer_year1' style="display: none" value='{{cv.cv_cer_year1}}' />
<input type='text' name='cv_cer_name1' style="display: none" value='{{cv.cv_cer_name1}}' />
<input type='text' name='cv_cer_year2' style="display: none" value='{{cv.cv_cer_year2}}' />
<input type='text' name='cv_cer_name2' style="display: none" value='{{cv.cv_cer_name2}}' />
<input type='text' name='cv_cer_year3' style="display: none" value='{{cv.cv_cer_year3}}' />
<input type='text' name='cv_cer_name3' style="display: none" value='{{cv.cv_cer_name3}}' />
<input type='text' name='cv_cer_year4' style="display: none" value='{{cv.cv_cer_year4}}' />
<input type='text' name='cv_cer_name4' style="display: none" value='{{cv.cv_cer_name4}}' />
<input type='text' name='cv_cer_year5' style="display: none" value='{{cv.cv_cer_year5}}' />
<input type='text' name='cv_cer_name5' style="display: none" value='{{cv.cv_cer_name5}}' />

<input type='text' name='cv_activity' style="display: none" value='{{cv.cv_activity}}' />
<input type='text' name='cv_count_activity' style="display: none" value='{{cv.cv_count_activity}}' />

<input type='text' name='cv_activity_company_role1' style="display: none" value='{{cv.cv_activity_company_role1}}' />
<input type='text' name='cv_activity_job_description1' style="display: none" value='{{cv.cv_activity_job_description1}}' />
<input type='text' name='cv_activity_company_name1' style="display: none" value='{{cv.cv_activity_company_name1}}' />
<input type='text' name='cv_activity_working_time1' style="display: none" value='{{cv.cv_activity_working_time1}}' />
<input type='text' name='cv_activity_company_role2' style="display: none" value='{{cv.cv_activity_company_role2}}' />
<input type='text' name='cv_activity_job_description2' style="display: none" value='{{cv.cv_activity_job_description2}}' />
<input type='text' name='cv_activity_company_name2' style="display: none" value='{{cv.cv_activity_company_name2}}' />
<input type='text' name='cv_activity_working_time2' style="display: none" value='{{cv.cv_activity_working_time2}}' />
<input type='text' name='cv_activity_company_role3' style="display: none" value='{{cv.cv_activity_company_role3}}' />
<input type='text' name='cv_activity_job_description3' style="display: none" value='{{cv.cv_activity_job_description3}}' />
<input type='text' name='cv_activity_company_name3' style="display: none" value='{{cv.cv_activity_company_name3}}' />
<input type='text' name='cv_activity_working_time3' style="display: none" value='{{cv.cv_activity_working_time3}}' />
<input type='text' name='cv_activity_company_role4' style="display: none" value='{{cv.cv_activity_company_role4}}' />
<input type='text' name='cv_activity_job_description4' style="display: none" value='{{cv.cv_activity_job_description4}}' />
<input type='text' name='cv_activity_company_name4' style="display: none" value='{{cv.cv_activity_company_name4}}' />
<input type='text' name='cv_activity_working_time4' style="display: none" value='{{cv.cv_activity_working_time4}}' />
<input type='text' name='cv_activity_company_role5' style="display: none" value='{{cv.cv_activity_company_role5}}' />
<input type='text' name='cv_activity_job_description5' style="display: none" value='{{cv.cv_activity_job_description5}}' />
<input type='text' name='cv_activity_company_name5' style="display: none" value='{{cv.cv_activity_company_name5}}' />
<input type='text' name='cv_activity_working_time5' style="display: none" value='{{cv.cv_activity_working_time5}}' />
<input type="submit" id="buttonSave" value="Save">